# =========================

# Build & Output

# =========================

bin/
obj/
out/

# =========================

# Visual Studio

# =========================

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# =========================

# Rider / VS Code

# =========================

.idea/
.vscode/

# =========================

# Logs

# =========================

*.log

# =========================

# OS Files

# =========================

.DS_Store
Thumbs.db

# =========================

# ASP.NET Core

# =========================

appsettings.Development.json
appsettings.Local.json

# =========================

# Secrets

# =========================

secrets.json

# =========================

# Node (frontend varsa)

# =========================

node_modules/

# =========================

# Publish

# =========================

publish/
wwwroot/dist/

# =========================

# Test Results

# =========================

TestResults/
